<%- include("components/header") %>

<%- include("components/navbar") %>

<div class="p-5">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%= user.username%>
    <a href="/list-plant" class="btn btn-success">Add plant</a>
</div>
